body {
	padding: 10px;
}

h2 {
	margin-top: 0px;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.header {
	text-align: center;
}

.menu-col {
	max-width: 20%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
}

.page-col {
	width: 80%;
	display: inline-block;
	vertical-align: top;
	padding: 10px;
}