
<h2>Development Skills &amp; Knowledge</h2>
<p>
	Currently Studying<span>Oracle Certified Java Developer
		Qualification</span>
</p>
<p class="P4">
	Completed<span>CompTIA A+ 220-601</span>
</p>
<p>
	<span>CompTIA A+ 220-602 CompTIA A+ Certified Professional IT
		Technician</span>
</p>
<ul>
	<li>Ability to build computers from components, install software
		and operating systems, also configure computers in a network
		environment.</li>
	<li>Understand the basics of network services and how to implement
		them.</li>
	<li>Ability to implement different topologies as well as setting
		up domains and workgroups.</li>
</ul>
<p>
	Completed<span>IC3</span>
</p>
<ul>
	<li>Demonstrate a sound knowledge of Information Technology.</li>
	<li>Understand the fundamentals of programming, database and
		network operating systems.</li>
	<li>Understand the history and components of the internet and the
		World Wide Web.</li>
</ul>
<p>
	Operating Systems:<span>Windows 2000 to Windows 8, DOS, Linux,
		OS X.</span>
</p>
<p>
	Languages: <span>Java 6/7, Python, C#, JavaScript, Actionscript,
		HTML, CSS, MSSQL, MySQL. </span>
</p>
<p>
	Software/Frameworks:<span>Spring, Hibernate, GWT, GXT, Eclipse,
		Visual Studio, MSSQL Server, Django, EmberJS, Ant, JDBC, Hudson /
		Jenkins, Cruise Control, Apache Web Server, Apache Tomcat, AWS,
		Photoshop and Gimp, Subversion and Git, Selenium, JUnit, Jmock,
		Wordpress. </span>
</p>
