<h2>Education</h2>
<h3>Fakenham High School</h3>
<ul>
	<li>GCSE's in English, Maths, Science and Geography.</li>
</ul>
<h3>College of West Anglia</h3>
<ul>
	<li>BTEC National Diploma in Popular Music, NCFE in Music
		Technology.</li>
</ul>
<h3>City College, Norwich</h3>
<ul>
	<li>Full A2 Level English Language and Literature.</li>
</ul>
<p>I also hold a full, clean UK driving license.</p>