<h2>Employment History</h2>
<p class="pull-right"><i>04/2015 - Present</i></p>
<h3>Aviva</h3>
<h4>Software Developer</h4>
<p>I currently work for Aviva on projects which follow a similar set
	up to those at Proxama (below), although with more of an emphasis on
	UI/UX. We use Python and Django but use the Jinja templating language
	and straight Django templates rather than a client side JavaScript
	framework.</p>
<p>Within my role I am responsible for writing web services and
	maintaining Aviva's online platform through the use of client side
	technologies. Work is quite reactive with tight deadlines but
	deployments are made simple through the use of a few convenient tools
	that have been written in-house. Testing is incredibly thorough.</p>
<p>The environment is good and I have been able to hit the ground
	running due to my past experience in their technologies.</p>
<p class="pull-right"><i>11/2013 - 03/2015</i></p>
<h3>Proxama plc</h3>
<h4>Software Developer</h4>
<p>Proxama provides Near Field Communications solutions to large
	marketing companies and retailers. I had two primary roles within the
	company. I was a member of the server team. The workflow features
	thorough unit/integration testing, git version control and
	collaborative code reviews. I was involved in many projects since
	implementing a variety of fixes and new functionality to the existing
	server platform as well as work on new and existing REST APIs.</p>
<p>I also worked on the commercial team which provides NFC and QR
	demos to clients. Typically Proxama have a very fast turnaround for
	products which will be designed to support a wide range of handsets.
	For this they use less css, EmberJS, JavaScript, CSS and HTML to craft
	unique solutions based on customer requirements.</p>
<p>Proxama stick to agile; using scrum, estimating sessions, 2 week
	sprints and daily standups involving project managers, testers and
	developers. I would say projects at Proxama are well managed.</p>
<p>Because I was involved in a range of different projects and
	technologies from front end through server side (and sometimes handset)
	I was able to assist with project architecture, development, testing,
	deployment and maintenance.</p>
<p class="pull-right"><i>02/2010 - 11/2013</i></p>
<h3>Validus-IVC</h3>
<h4>Software Developer</h4>
<p>Work at Validus involved using GXT and GWT to build a web based
	application allowing users to identify overinflated insurance claims.
	We spent the last few months prior to my departure developing this
	system in-house using an Agile methodology which could be likened to
	XP, requirements were obtained from the business, discussed in stand up
	meetings and completed according to priority. We also worked in
	iterations.</p>
<p>I was responsible for building RPC services along with data
	transfer and domain objects that hook into the hibernate layer and
	ultimately the MSSQL database.</p>
<p>A portion of my work on this project has been front end, putting
	together screens and overcoming the challenges inherent in using a
	language that dynamically creates its own JavaScript.  I have also had
	some exposure to our Drools rules engine recently which is used to
	control our workflow and as the back end for an expert system.</p>
<p>Dependency injection was taken care of by Spring on the server
	side and Gin &amp; Guice on the client side.</p>

<p class="pull-right"><i>06/2008 - 02/2010</i></p>
<h3>Validus-IVC</h3>
<h4>Software Tester / IT Support</h4>
<p>I initially joined Validus as IT Support with testing
	responsibilities. I was the only member of support staff when I started
	and it was my responsibility to deflect issues away from the
	developers.</p>
<p>Responsibilities included:</p>
<ul>
	<li>Supporting the business with computer and system issues.</li>
	<li>We were using an off the shelf system that we had heavily
		customised so it was occasionally necessary to liaise with suppliers
		for application support.</li>
	<li>Maintaining the network infrastructure and phone system.</li>
	<li>Writing scripts in Python to email users CSV reports from the
		database.</li>
	<li>Devising test plans for new pieces of software designed
		in-house.</li>
	<li>Occasional systems work mainly involving form design.</li>
</ul>