<h2> Hobbies &amp; Interests </h2>

<p>
	I spend a fair amount of my spare time learning to play bass guitar although I am not currently playing in any bands. I often take on development projects outside of work, whether it be websites (I tend to favour Wordpress for these) or applications. I recently created a desktop booking system in C# and .NET to allow dog show organisers to manage dog shows and print off correspondence and running orders.
</p>
<p>
	I have also worked on a software music project with learning disabled people. I wrote a visual instrument using Java and the Xbox Kinect which was used for an end of year performance at Snape Maltings in Suffolk.
</p>
<p>
	I am currently working on a Java application using swing to create polyrhythmic drum patterns. It provides a sequencer UI and creates and outputs midi files from user input.
</p>
<p>
	I have developed and host several websites for local businesses and enjoy attending local developer meetups.
</p>