<h2> Personal Statement </h2>

<p>
	I am an experienced Software Developer with a broad skill set. Mainly specialising in Java and Python I also have experience in .NET and have taken on automated testing contracts in the past.
</p>

<p>
	I like to manage projects with a clear overview of the entire process and believe programming languages should be treated as tools for getting a job done. 
	I think the ability to pick up new technologies and learn on the job is the key characteristic of any developer - having the ability to be able to hit the ground running with any language is a must. 
	This is only possible from having a good understanding of fundamental concepts rather than an encyclopedic knowledge of any particular language. 
	It is all too easy to get caught up in over architecting a solution.
</p>
<p>
	I am keen on learning in my own time and am currently working through the available courses on CodeSchool.
</p>

<p>
	Currently based in Norwich, I enjoy music, problem solving, discovering new technologies and adventure.
</p>