<!DOCTYPE html>
<html ng-app='cv'>
<head>
<script
	src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js'></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="style.css">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<script type='text/javascript'
	src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js'></script>
<script type='text/javascript' src='app.js'></script>
</head>
<body>

	<div ng-controller='HeaderController' class='header'>
		<h3>{{ header.name }}</h3>
		{{ header.address }} <br /> {{ header.email }} <br /> {{
		header.phone }}
	</div>

	<div class='menu-col' ng-controller='MenuController'>
		<ul ng-repeat='item in items' class='nav nav-sidebar'>
			<li><a href ng-click="loadPage(item.id)">{{ item.name }}</a></li>
		</ul>
		<ul class='nav nav-sidebar'>
			<li><a href="chris_salt_cv_2015.pdf"><img src="pdf.png" /></a></li>
		</ul>
	</div>
	<div class='page-col' ng-controller='PageController'>
		<div ng-bind-html="html"></div>
	</div>
	</div>
</body>
</html>
